{% extends 'base/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock link %}

{% block search %}
<div class="search-bar">
    <input type="text" placeholder="What do you want to eat today?">
    <i class="search-icon"><img src="{% static 'images/search.svg' %}" alt="search"></i>
</div>
{% endblock search %}
{% block content %}
<main>
    <div class="main-container">
        <div class="site-main">
            <div class="about-container">
                <div class="header">
                    <img src="{% static 'images/cook.svg'%}" alt="cook">
                    <h2>ABOUT US</h2>
                </div>
                <div class="about-content">
                    <p>Vojan Express revolutionizes the payment process in canteens by integrating RFID
                        (Radio-Frequency Identification) technology with a sophisticated web-based platform.
                        This innovative system allows students, staff, and visitors to make secure, cashless
                        payments using RFID cards linked to individual accounts managed through a user-friendly
                        web interface. Vojan Express ensures a fast and efficient checkout experience, reducing
                        the risks associated with cash handling and minimizing transaction times. By leveraging
                        advanced technology with comprehensive web integration, Vojan Express provides real-time
                        updates on account balances and transaction histories, delivering a seamless,
                        convenient, and secure experience for all users.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="team-container">
        <h2>OUR TEAM</h2>
        <div class="team-row">
            <div class="col">
                <img src="{% static 'images/aayushma.png' %}" alt="team1">
                <p>Aayushma Katuwal</p>
            </div>
            <div class="col">
                <img src="{% static 'images/shila.png' %}" alt="team2">
                <p>Shila Pradhan</p>
            </div>
            <div class="col">
                <img src="{% static 'images/saraswoti.png' %}" alt="team3">
                <p>Saraswoti Shrestha</p>
            </div>
            <div class="col">
                <img src="{% static 'images/diya.png' %}" alt="team4">
                <p>Diya Kharel</p>
            </div>
        </div>
        <div class="buttons">
            <button class="back"><a href="index.html">BACK</a></button>
            <button class="contact"><a href="#">CONTACT US</a></button>
        </div>
    </section>
    </div>
</main>
{% endblock content %}