{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vojan Express</title>
    <link rel="icon" type="image/svg+xml" href="image/favicon.svg">
    <link rel="icon" type="image/png" href="image/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Habibi,wght@0,400;1,400;" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Habibi:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril Fatface:wght@400&display=swap" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Habibi&family=IM+Fell+English+SC&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" type="image/svg" href="../images/tab-logo.svg">

    {% block link %}{% endblock link %}
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button class="search-btn"><i class="fas fa-search"></i></button>
        </div>
        <div class="profile">
            <img src="{% static 'images/pf.png' %}" alt="Profile Icon">
            <a href="setting.html">David Wittenberg</a>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="site-main">
                <aside class="slide">
                    <h1 class="menu-title">Main Menu</h1>
                    <ul class="nav-links">
                        <li><a href="{% url 'canteen_home' %}"><i class="fas fa-th-large"></i> Dashboard</a></li>
                        <li><a href="{% url 'canteen_menu' %}"><i class="fas fa-book"></i> Menu</a></li>
                        <li><a href="{% url 'canteen_order' %}"><i class="fas fa-receipt"></i> Order</a></li>
                        <li><a href="{% url 'canteen_about' %}"><i class="fa-solid fa-info-circle"></i> About Us</a></li>
                        <li><a href="{% url 'canteen_settings' %}"><i class="fas fa-cog"></i> Settings</a></li>
                    </ul>
                </aside>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>Get In Touch</p>
            <div class="social-icons">
                <a href="#"><img src="{% static 'images/fab.svg' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/inst.svg' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/pin.svg' %}" alt="Pinterest"></a>
            </div>
            <p>&copy; Krima. All Rights Reserved 2024. Licensing</p>
        </div>
    </footer>

    <script src="js/chart.js"></script>

</body>

</html>