* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F2780D;
    border-radius: 40px;
}

.main-container {
    padding: 0 0 10px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    color: #fff;
}

.logo img {
    width: 85%;
}

.search-bar {
    position: relative;
}

.search-bar input {
    font-family: 'Habibi', sans-serif;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-btn i {
    position: absolute;
    top: 15px;
    right: 20px;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #ED8B35;
    padding: 10px 16px;
    cursor: pointer;
}

.profile img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.profile a {
    font-family: 'Habibi', sans-serif;
    text-decoration: none;
    color: #fff;
}

.site-main {
    display: flex;
    gap: 10px;
}

.slide {
    width: 13%;
    height: 450px;
    background: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 40px 0 0 0;
}

h1 {
    color: #F2780D;
    font-family: 'Habibi', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 20px 0 0;
    pointer-events: none;
}

ul {
    list-style: none;
}

ul li {
    margin: 0;
}

ul li a {
    font-family: 'Habibi', sans-serif;
    color: #000;
    padding: 20px 5px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

ul li:hover a {
    color: #fff;
    background: #F2780D;
}

ul li a i {
    text-align: center;
    width: 40px;
}

.container {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
}

.menu-table {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.menu-table th, .menu-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-table img {
    width: 40%;
    object-fit: cover;
    border-radius: 8px;
}

.menu-table th {
    background-color: #f4eeee;
    font-weight: 500;
}

td i {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.back-btn, .save-btn {
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.back-btn {
    background-color: #fff;
    border: 1px solid #ED8B35;
    color: #ED8B35;
}

.save-btn {
    background-color: #ED8B35;
}

.back-btn:hover, .save-btn:hover {
    background-color: #ff6347;
}

.back-btn a, .save-btn a {
    text-decoration: none;
    color: inherit;
}

.footer {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    margin: 0;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 100%;
    height: 24px;
    margin: 5px;
}
