{% extends 'base/canteenbase.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'canteen/order.css' %}">
{% endblock link %}

{% block content %}
<main>
    <div class="main-container">
        <div class="site-main">
            <div class="container">
                <div class="order-list">
                    <div class="tabs">
                        <a href="{% url 'canteen_order' %}?order_status=ORDER_IN" class="active">
                             Order in
                        </a>
                        <a href="{% url 'canteen_order' %}?order_status=PAID" class="paid-list">
                            Paid
                        </a>
                    </div>
                    <!-- Add the search bar here -->
                    
                    <div class="orders">
                        <!-- Order list starts here -->
                        <div class="search-bar">
                            <form action="{% url 'canteen_order' %}" method="GET">
                                <input name="order_number" type="text" placeholder="Search bill code..." id="search-input">
                                <button class="search-btn" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        {% for order in orders %}
                            <div class="order">
                                <div class="order-details">
                                    <a href="{% url 'canteen_order' %}?order_number={{order.order_number}}&order_status={{order_status}}">
                                        <h3>Order #{{ order.order_number }}</h3>
                                    </a>
                                    <p>{{order.date_ordered}}</p>
                                </div>
                                <div class="order-price">Rs. {{order.get_total_price}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if order_details %}
                    <div class="order-details-view">
                        <div class="order-summary">
                            <h3>Order #{{ order_details.order_number }}</h3>
                            <p>{{order_details.date_ordered}}</p>
                            <div class="customer-info">
                                <img src="{% static 'images/alien.png' %}" alt="Customer Image">
                                <p>{{order_details.user.first_name}} {{order_details.user.last_name}}<br> User since {{order_details.user.date_joined}}</p>
                            </div>
                            <div class="order-menu">
                                <h3>Order Menu</h3>
                                {% for order_item in order_details.items.all %}
                                    <div class="menu-item">
                                  
                                        <img height="60px" src="{{order_item.image.url }}" alt="{{order_item.name}}">
                                        <p>{{order_item.name}} <span>x1</span></p>
                                        <p>+Rs. {{order_item.price}}</p>
                                    </div>
                                {% endfor %}
                                <div class="total-price">
                                    <p>Total</p>
                                    <p>Rs. {{order_details.get_total_price}}</p>
                                </div>
                            </div>
                            {% if order_details.is_paid %}
                            <p>The order has been already paid for!</p>
                            {% else %}
                            <div class="action-buttons">
                                <a href="{% url 'canteen_order_paid' order_details.order_number %} ">
                                    <button class="prepared-btn">Paid</button>
                                </a>
                            </div>
                            {% endif %}
                     
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/chart.js' %}"></script>
{% endblock content %}