CSS normalization html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    max-height: 1000000px;
}

img {
    border-style: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.button_log a,
.button_reg a {
    text-decoration: none;
    color: #102C57; /* Optional: Inherit color from parent */
}

.button_log:hover a,
.button_reg:hover a {
    color: #102C57; /* Adjust the color as you want on hover */
    text-decoration: none; /* Ensure no underline on hover */
}

b,
strong {
    font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted Button;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

body {
    font-family: "Habibi";
    display: flex;
    margin: 0 auto;
    min-width: 320px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* login */
.login_container {
    width: 45%;
    height: auto;
    background-color: #102C57;
    color: #fff;
    position: relative;
}

.button_log {
    text-align: center;
    background-color: #134B70;
    border: 4px solid #508C9B;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    padding: 20px 120px;
    position: absolute;
    top: 40%;
    right: 0%;
}

.button_reg {
    text-align: center;
    background-color: #508C9B;
    border: 4px solid #134B70;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    padding: 20px 80px;
    position: absolute;
    top: 55%;
    right: 0%;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 51px;
}

.header {
    text-align: center;
}

.header p {
    padding-bottom: 10px;
}

.Logo img {
    width: 70%;
}

h1 {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.form-group {
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="username"],
input[type="email"],
input[type="password"],
input[type="confirm-password"] {
    width: 70%;
    padding: 10px 80px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

form a {
    text-decoration: none;
    font-size: 14px;
    color: #508C9B;
    display: flex;
    justify-content: flex-end;
    padding-right: 6%;
}

.login {
    font-size: 20px;
    background-color: #03346E;
    color: white;
    margin: 5% 0% 5% 2%;
    padding: 2% 37%;
    border: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: #fff;
    color: #03346E;
    border: 1px solid #03346E;
}

.button_reg:hover,
.button_log:hover {
    background-color: #fff;
    color: #102C57;
    cursor: pointer;
}

.social-media span {
    color: #3478c8;
    font-size: 14px;
    text-decoration: none;
    padding-left: 8px;
}

.social-icons i {
    flex-direction: row;
    width: auto;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
}


/* Register */
.button_login {
    text-align: center;
    background-color: #134B70;
    border: 4px solid #508C9B;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    padding: 20px 80px;
    position: absolute;
    top: 40%;
    right: 0%;
}

.button_regis {
    text-align: center;
    background-color: #508C9B;
    border: 4px solid #134B70;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    padding: 20px 120px;
    position: absolute;
    top: 55%;
    right: 0%;
}

.container_regis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.register {
    font-size: 20px;
    background-color: #03346E;
    color: white;
    margin: 5% 0% 5% 1%;
    padding: 2% 34%;
    border: none;
    cursor: pointer;
}

.button_regis:hover,
.button_login:hover {
    background-color: #fff;
    color: #102C57;
    cursor: pointer;
}

/* startpage */
.start-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.user-container {
    position: relative;
    background-color: #102C57;
    color: #fff;
    padding: 10% 30%;
    border: #000 0px solid;
}

.admin-container {
    color: #000;
    padding: 10% 30%;
    border: #000 1px solid;
}

.user-container span {
    font-size: 24px;
    font-weight: 500px;
    position: absolute;
    bottom: 48%;
    right: 30%;
    cursor: pointer;
}

.admin-container span {
    font-size: 24px;
    font-weight: 500px;
    position: absolute;
    bottom: 20%;
    right: 35%;
    cursor: pointer;
}

.user-container:hover {
    background-color: #3478c8;
    cursor: pointer;
}

.admin-container:hover {
    background-color: #3478c8;
    cursor: pointer;
}


/* home */
.container-top {
    display: flex;
    justify-content: center;
    background-color: #102C57;
    flex-direction: col;
}